.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.overlay.active .popup {
  background-image: url(./../Recursos/backgroundpopup.png);
  background-size: 640px 404px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.overlay.active .popup .boton-cerrar {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #EE7C41;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
}

.overlay.active .popup .boton-cerrar:hover {
  color: white;
}

.overlay.active .popup form .cont-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border: 1px solid #bbbbbb;
}

.overlay.active .popup form .boton-submit, .overlay.active .popup form .boton-submit2 {
  margin: 20px;
  background: #E7A78B;
  color: white;
  width: 116px;
  height: 34px;
  border: 3px solid #EE7C41;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

.overlay.active .popup form .boton-submit:hover, .overlay.active .popup form .boton-submit2:hover {
  background: #EE7C41;
  cursor: pointer;
}

.overlay.active .popup form .boton-submit2 {
  background-color: #EE7C41;
}

html, body {
  margin: 0;
  padding: 0;
}

html .aside, body .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 633px;
  width: 75%;
  background-color: #54B8C8;
  margin: 0;
  padding: 0;
}

html .aside .texto-principal, html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .texto-principal, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
  margin-top: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
  text-shadow: 2px 2px #2C5F7E;
}

html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
  margin-left: 20px;
  font-size: medium;
  text-shadow: none;
}

html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo3, body .aside .parrafo4 {
  margin-top: 50px;
  font-size: 20px;
}

html .aside .parrafo4, body .aside .parrafo4 {
  margin-top: -10px;
}

html .aside .button-aside, body .aside .button-aside {
  margin: 20px;
  background: #EE7C41;
  color: white;
  width: 150px;
  height: 50px;
  border: 3px solid #EE7C41;
  font-size: 17px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

html .aside .button-aside:hover, body .aside .button-aside:hover {
  background: #EE7C41;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  html .aside, body .aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  html .aside .texto-principal, html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .texto-principal, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
    font-size: 25px;
  }
  html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
    font-size: 12px;
    margin: 10px 10px;
  }
  html .aside .parrafo2, body .aside .parrafo2 {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    margin: 10px 10px;
  }
  html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo3, body .aside .parrafo4 {
    margin-top: 50px;
    font-size: 15px;
    text-align: center;
    text-justify: center;
  }
  html .aside .parrafo4, body .aside .parrafo4 {
    margin: 0;
  }
  html .aside .button-aside, body .aside .button-aside {
    margin: 50px 50px 50px;
    background: #EE7C41;
    color: white;
    width: 150px;
    height: 30px;
    border: 3px solid #EE7C41;
    font-size: 16px;
    border-radius: 5px;
    -webkit-transition: .6s;
    transition: .6s;
    overflow: hidden;
  }
  html .aside .button-aside:hover, body .aside .button-aside:hover {
    background: #EE7C41;
    cursor: pointer;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

html footer, body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  width: 100%;
  height: 100px;
  background-color: black;
}

html footer .infolist, body footer .infolist {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 20px;
}

html footer .icons, body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-right: 20px;
  padding: 0;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html, body {
  margin: 0;
  padding: 0;
}

html header, body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2C5F7E;
  height: 89px;
  width: 100%;
}

html header .logo, body header .logo {
  margin-left: 20px;
  width: 157px;
  height: 53px;
}

html header .barnav, body header .barnav {
  width: 100%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #2C5F7E;
}

html header .barnav .button-barnav, html header .barnav .button-barnav2, body header .barnav .button-barnav, body header .barnav .button-barnav2 {
  margin: 20px;
  background: #E7A78B;
  color: white;
  width: 116px;
  height: 34px;
  border: 3px solid #EE7C41;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

html header .barnav .button-barnav:hover, html header .barnav .button-barnav2:hover, body header .barnav .button-barnav:hover, body header .barnav .button-barnav2:hover {
  background: #EE7C41;
  cursor: pointer;
}

html header .barnav .button-barnav2, body header .barnav .button-barnav2 {
  background-color: #EE7C41;
}

@media only screen and (max-width: 768px) {
  html header, body header {
    background-color: #2C5F7E;
  }
  html header .logo, body header .logo {
    width: 134px;
    height: 45px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C5F7E;
}

html, body {
  margin: 0;
  padding: 0;
}

html .ilustracion-home, body .ilustracion-home {
  margin: 0;
  height: 633px;
  width: 100%;
}

html .ilustracion-home-tablet, body .ilustracion-home-tablet {
  display: none;
}

@media only screen and (max-width: 768px) {
  html .section .ilustracion-home, body .section .ilustracion-home {
    display: none;
  }
  html .section .ilustracion-home-tablet, body .section .ilustracion-home-tablet {
    display: block;
    height: 633px;
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 40%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  user-select-border: none;
}

.container input {
  display: none;
}

.container .slide_img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container .slide_img img {
  width: inherit;
  height: inherit;
}

.container #nav_slide {
  width: 100%;
  bottom: 12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}

.container #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four,
#i5:checked ~ #five,
#i6:checked ~ #six {
  z-index: 12;
  -webkit-animation: scroll 1s ease-in-out;
          animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
  background: #45E9ED;
}

#i2:checked ~ #nav_slide #dot2 {
  background: #54B8C8;
}

#i3:checked ~ #nav_slide #dot3 {
  background: #2C5F7E;
}

#i4:checked ~ #nav_slide #dot4 {
  background: #EE7C41;
}

#i5:checked ~ #nav_slide #dot5 {
  background: #EE7C41;
}

@media screen and (max-width: 768px) {
  .container {
    border: none;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
  }
  .container #nav_slide .dots {
    width: 8px;
    height: 8px;
  }
}
/*# sourceMappingURL=styles.css.map */