.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.overlay.active .popup {
  background: #54B8C8;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

.overlay.active .popup .boton-cerrar {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  color: #bbbbbb;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
}

.overlay.active .popup .boton-cerrar:hover {
  color: #2C5F7E;
}

.overlay.active .popup form .cont-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border: 1px solid #bbbbbb;
}

.overlay.active .popup form .boton-submit, .overlay.active .popup form .boton-submit2 {
  margin: 20px;
  background: #E7A78B;
  color: white;
  width: 116px;
  height: 34px;
  border: 3px solid #EE7C41;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

.overlay.active .popup form .boton-submit:hover, .overlay.active .popup form .boton-submit2:hover {
  background: #EE7C41;
  cursor: pointer;
}

.overlay.active .popup form .boton-submit2 {
  background-color: #EE7C41;
}

html, body {
  margin: 0;
  padding: 0;
}

html .aside, body .aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 633px;
  width: 75%;
  background-color: #54B8C8;
  margin: 0;
  padding: 0;
}

html .aside .textoprincipal, html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .textoprincipal, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;
  text-shadow: 2px 2px #2C5F7E;
}

html .aside .parrafo, html .aside .parrafo2, html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo, body .aside .parrafo2, body .aside .parrafo3, body .aside .parrafo4 {
  font-size: medium;
  text-shadow: none;
}

html .aside .parrafo3, html .aside .parrafo4, body .aside .parrafo3, body .aside .parrafo4 {
  margin-top: 50px;
  font-size: 20px;
}

html .aside .parrafo4, body .aside .parrafo4 {
  margin-top: -10px;
}

html .aside .button-aside, body .aside .button-aside {
  margin: 20px;
  background: #EE7C41;
  color: white;
  width: 150px;
  height: 50px;
  border: 3px solid #EE7C41;
  font-size: 17px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

html .aside .button-aside:hover, body .aside .button-aside:hover {
  background: #EE7C41;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
}

html footer, body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0;
  width: 100%;
  height: 100px;
  background-color: #2C5F7E;
}

html footer .infolist, body footer .infolist {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 20px;
}

html footer .icons, body footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  margin-right: 20px;
  padding: 0;
  color: white;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

html, body {
  margin: 0;
  padding: 0;
}

html header, body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2C5F7E;
  height: 89px;
  width: 100%;
}

html header .logo, body header .logo {
  margin-left: 20px;
  width: 157px;
  height: 53px;
}

html header .barnav, body header .barnav {
  width: 100%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #2C5F7E;
}

html header .barnav .button-barnav, html header .barnav .button-barnav2, body header .barnav .button-barnav, body header .barnav .button-barnav2 {
  margin: 20px;
  background: #E7A78B;
  color: white;
  width: 116px;
  height: 34px;
  border: 3px solid #EE7C41;
  font-size: 15px;
  border-radius: 5px;
  -webkit-transition: .6s;
  transition: .6s;
  overflow: hidden;
}

html header .barnav .button-barnav:hover, html header .barnav .button-barnav2:hover, body header .barnav .button-barnav:hover, body header .barnav .button-barnav2:hover {
  background: #EE7C41;
  cursor: pointer;
}

html header .barnav .button-barnav2, body header .barnav .button-barnav2 {
  background-color: #EE7C41;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C5F7E;
}

html, body {
  margin: 0;
  padding: 0;
}

html .ilustracionhome, body .ilustracionhome {
  margin: 0;
  height: 633px;
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */