
//Colores////I

$azul1 : #45E9ED
$azul1a : #45E9ED 
$azul2 : #54B8C8
$azul3 : #2C5F7E
$acentoazul : #1E4051
$naranja1 : #EE7C41
$bajoacento : #E7A78B

$box-shadow: 0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24)
$blue: #2196F3
$nav_color: rgba(255, 82, 82, .2)
$nav_hover_color: #52f9ffcc

//Medidas/////I
$big_width: 70% 
$big_height: 40% 	
$big_nav_width: 12%	

$small_width: 100%	
$small_height: 55% 	
$small_nav_width: 15%

//Mixins

@mixin buttons()
    margin: 20px
    background: $bajoacento
    color: white
    width: 116px
    height: 34px
    border: 3px solid $naranja1 
    font-size: 15px
    border-radius: 5px
    transition: .6s
    overflow: hidden
    &:hover
        background: $naranja1
        cursor: pointer   

@mixin buttonprin()
    margin: 20px
    background: $naranja1
    color: white
    width: 150px
    height: 50px
    border: 3px solid $naranja1 
    font-size: 17px
    border-radius: 5px
    transition: .6s
    overflow: hidden
    &:hover
        background: $naranja1
        cursor: pointer

@mixin buttonprin-tablet()
    margin: 50px 50px 50px
    background: $naranja1
    color: white
    width: 150px
    height: 30px
    border: 3px solid $naranja1 
    font-size: 16px
    border-radius: 5px
    transition: .6s
    overflow: hidden
    &:hover
        background: $naranja1
        cursor: pointer  
