
//Colores////I

$azul1 : #45E9ED
$azul2 : #54B8C8
$azul3 : #2C5F7E
$acentoazul : #1E4051
$naranja1 : #EE7C41
$bajoacento : #E7A78B

//Mixins

@mixin buttons()
    margin: 20px
    background: $bajoacento
    color: white
    width: 116px
    height: 34px
    border: 3px solid $naranja1 
    font-size: 15px
    border-radius: 5px
    transition: .6s
    overflow: hidden
    &:hover
        background: $naranja1
        cursor: pointer
    
    